<header>
  <div id="logo">
    <img
      src="https://s3.ap-south-1.amazonaws.com/hsdreams1/pins/2019/02/big/8d8b1f004c6e896183e5e2ca6a8a7878.png"
      alt="bird"
    />
  </div>
  <nav id="navbar">
    <ul id="content">
      <li class="item">
        <a class="nav-link" *ngIf="!_service.loggedIn()" routerLink="/login" routerLinkActive="active"
          >Login</a
        >
      </li>
      <li class="item">
        <a class="nav-link" *ngIf="!_service.loggedIn()" routerLink="/register" routerLinkActive="active"
          >Register</a
        >
      </li>
      <li class="item">
        <a class="nav-link" *ngIf="_service.loggedIn()"  style="cursor: pointer;" (click)="_service.loggedOut()">LogOut</a>
        
      </li>
    </ul>
  </nav>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
